{% load static %}

<div class="row main question">
    <div class="col-2">
        <div class = "login"> {{ question.author.nickname }} </div>
        <div><img class="question_avatar" src={{ question.author.avatar.url }}></div>
        <div>
            <button type="button" class="btn btn-outline-danger">&#128577;</button>
            <button type="button" class="btn btn-outline-success">&#128515;</button>
            <div class="rating"> Rating: {{ question.rating }}</div>
        </div>
    </div>
    <div class="col-10">
        <span class="question title">{{ question.title }}</span>
        <div class="text"> {{ question.text }} </div>
        <div class="under question">
            <span class="tags">Tags:</span>
            {% for tag in question.tags  %}
                <a href = {% url 'tag' tag=tag %}> {{ tag }}</a>
            {% endfor %}
        </div>
    </div>
</div>
