{% load static %}

<div class="row question">
    <div class="col-2">
        <div><img class="question_avatar" src="{% static pic %}"></div>
        <div>
            <button type="button" class="btn btn-outline-danger">&#128577;</button>
            <button type="button" class="btn btn-outline-success">&#128515;</button>
            <div class="rating"> Rating:{{ rating }}</div>
        </div>
    </div>
    <div class="col-10">
        <a class="question link" href="{% url "question" %}">{{ title }}</a>
        <div class="text">{{ text }}</div>
        <div class="under question">
            <a class="answers" href="{% url "question" %}">Answers (3)</a>
            <span class="tags">Tags:</span>
            <a href="{% url "tag" %}">AnswTag1</a>
            <a href="#">AnswTag2</a>
        </div>
    </div>
</div>
