{% extends 'include/base.html' %}
{% load static %}

{% block content %}
    <div class="New Questions">Settings: MyNickname</div>
    <form>
        <div class="form-row">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" value="dr_rapper" required>
        </div>
        <div class="form-row">
            <label for="email_validation">Email</label>
            <input type="text" class="form-control" id="email_validation" value="dr.rapper@mail.ru"
                required>
        </div>
        <div class="form-row">
            <label for="password_validation">Password</label>
            <input type="text" class="form-control" id="password_validation" value="qwerty12345"
                required>
        </div>
        <div class="form-row">
            <label for="name_validation">NickName</label>
            <input type="text" class="form-control" id="name_validation" value="V. Pupkin" required>
        </div>
        
        <label for="avatar_uploader">Profile Picture:</label>
        <img class="avatar" src="{% static "/img/myself.png" %}" height="100" width="110">
        <div class="form-row">
            <input type="file" class="form-control-file" id="avatar_uploader">
        </div>
        <button class="btn btn-success btn-lg" type="submit">Save</button>
    </form>
{% endblock %}